$red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Very_Dark_Blue: hsl(234, 12%, 34%);
$Grayish_Blue: hsl(229, 6%, 66%);
$Very_Light_Gray: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: $Very_Dark_Blue;
  line-height: 1.5;
}

.attribution {
  font-size: 13px;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: $Very_Light_Gray;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    height: 100%;
    justify-content: space-evenly;

    .top {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title_1,
      .title_2 {
        text-align: center;
        font-size: 25px;
      }
      .title_2 {
        font-weight: 200;
      }
      .title_1 {
        font-weight: 600;
      }

      .description {
        text-align: center;
        margin: 15px;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      gap: 15px;
      grid-template-areas:
        "card_1 card_2 card_4"
        "card_1 card_3 card_4";

      .card_1 {
        grid-area: card_1;
        &::before {
          content: "";
          width: 100%;
          height: 5px;
          background-color: $Cyan;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .card_2 {
        grid-area: card_2;
        &::before {
          content: "";
          width: 100%;
          height: 5px;
          background-color: $red;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .card_3 {
        grid-area: card_3;
        &::before {
          content: "";
          width: 100%;
          height: 5px;
          background-color: $Orange;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .card_4 {
        grid-area: card_4;
        &::before {
          content: "";
          width: 100%;
          height: 5px;
          background-color: $Blue;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .card {
        position: relative;
        background-color: $Very_Light_Gray;
        padding: 15px 35px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 9px 0px $Grayish_Blue;
        height: 250px;
        justify-content: space-around;

        .text {
          display: flex;
          flex-direction: column;
          gap: 10px;

          h3 {
            font-weight: 600;
            font-size: 20px;
          }
          p {
            font-size: 14px;
            color: $Grayish_Blue;
          }
        }
        div {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    .container {
      .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          "card_1 card_1 card_1"
          "card_2 card_2 card_2"
          "card_3 card_3 card_3"
          "card_4 card_4 card_4";

        .card {
          width: 100%;
        }
      }
    }
  }
}
