* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(234, 12%, 34%);
  line-height: 1.5;
}

.attribution {
  font-size: 13px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0, 0%, 98%);
}
.container .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  height: 100%;
  justify-content: space-evenly;
}
.container .main .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .top .title_1,
.container .main .top .title_2 {
  text-align: center;
  font-size: 25px;
}
.container .main .top .title_2 {
  font-weight: 200;
}
.container .main .top .title_1 {
  font-weight: 600;
}
.container .main .top .description {
  text-align: center;
  margin: 15px;
}
.container .main .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
  grid-template-areas: "card_1 card_2 card_4" "card_1 card_3 card_4";
}
.container .main .cards .card_1 {
  grid-area: card_1;
}
.container .main .cards .card_1::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: hsl(180, 62%, 55%);
  position: absolute;
  top: 0;
  left: 0;
}
.container .main .cards .card_2 {
  grid-area: card_2;
}
.container .main .cards .card_2::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: hsl(0, 78%, 62%);
  position: absolute;
  top: 0;
  left: 0;
}
.container .main .cards .card_3 {
  grid-area: card_3;
}
.container .main .cards .card_3::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: hsl(34, 97%, 64%);
  position: absolute;
  top: 0;
  left: 0;
}
.container .main .cards .card_4 {
  grid-area: card_4;
}
.container .main .cards .card_4::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: hsl(212, 86%, 64%);
  position: absolute;
  top: 0;
  left: 0;
}
.container .main .cards .card {
  position: relative;
  background-color: hsl(0, 0%, 98%);
  padding: 15px 35px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 9px 0px hsl(229, 6%, 66%);
  height: 250px;
  justify-content: space-around;
}
.container .main .cards .card .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .main .cards .card .text h3 {
  font-weight: 600;
  font-size: 20px;
}
.container .main .cards .card .text p {
  font-size: 14px;
  color: hsl(229, 6%, 66%);
}
.container .main .cards .card div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .main .container .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "card_1 card_1 card_1" "card_2 card_2 card_2" "card_3 card_3 card_3" "card_4 card_4 card_4";
  }
  .main .container .cards .card {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
